.grid{
	display: grid;
	grid-template-rows: 100px 300px 150px;
	grid-template-columns: 100px 65% 35%;
	width: 90vw;
}
div > div{
	border:1px solid black;
}
.logo{
background-color: yellow;
text-align: center;
}
.menu{
background-color: red;
text-align: center;
grid-column:2/4;
}
.news{
background-color: brown;
text-align: center;
}
.list{
background-color: yellow;
text-align: center;
}
.nav{
background-color: black;
text-align: center;
color: white;
grid-column: 3;
grid-row:2/4;
}
.footer{
background-color: yellow;
text-align: center;
grid-column: 1/3;
}